<div class="card-wrapper">
  <md-card>
    <form class="create-building-form">
      <h2>Create New Building</h2>

      <md-select placeholder="Campus">
      </md-select>

      <md-input-container>
        <input type="text" mdInput placeholder="Building Name">
      </md-input-container>

      <md-select placeholder="Clearance">
      </md-select>

      <md-input-container>
        <input type="text" mdInput placeholder="Add Rooms">
      </md-input-container>
     
      <div class="submit-button">
        <button type='submit' md-button>Submit</button>
      </div>

    </form>
  </md-card>
</div>
