<div class="manager-create-building-wrapper" fxLayout="column" fxLayoutAlign="space-around stretch">
  <md-card fxLayout="column" fxLayoutAlign="space-around center">
    <form class="create-building-form">
      <h1>Create New Building</h1>

      <md-select placeholder="Campus">
      </md-select>

      <md-input-container>
        <input type="text" mdInput placeholder="Building Name">
      </md-input-container>

      <md-select placeholder="Clearance">
      </md-select>

      <md-input-container>
        <input type="text" mdInput placeholder="Add Rooms">
      </md-input-container>
      <div>
        <label>Photo: </label><input type="file">
      </div>
     
      <div class="submit-button">
        <button type='submit' md-button>Submit</button>
      </div>
      

    </form>
  </md-card>
</div>
