<div class="manager-requests-wrapper" fxLayout="column" fxLayoutAlign="space-around stretch">
  <md-card fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <div>
        <h2>New Request from: Matt Asnes</h2>
      </div>
    </div>
  </md-card>
  <md-card fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <div>
        <h2>New Request from: Matt Asnes 2</h2>
      </div>
    </div>
  </md-card>
  <md-card fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <div>
        <h2>New Request from: Adam Plumer</h2>
      </div>
    </div>
  </md-card>
  <md-card fxLayout="column" fxLayoutAlign="space-around center">
    <div>
      <div>
        <h2>New Request from: Elias Jarzombek</h2>
      </div>
    </div>
  </md-card>

</div>
