<div fxLayout="column" style="padding: 16px">
  <form fxLayout="row" fxLayoutAlign="center center" #f="ngForm">
    <md-card fxLayout="row" fxLayoutAlign="center center">
      <md-icon>search</md-icon>
      <span fxFlex="10px"></span>
      <md-input-container>
        <input mdInput placeholder="Search for UTLN" [mdAutocomplete]="userAuto" [formControl]="userControl">
      </md-input-container>

      <md-autocomplete #userAuto="mdAutocomplete" [displayWith]="userName">
        <md-option *ngFor="let user of flUsers | async" [value]="user">
          <span>{{ user.utln }}</span>
        </md-option>
      </md-autocomplete>
      <span fxFlex="10px"></span>
      <button md-raised-button color="primary" [disabled]="selectedUser">CREATE</button>
    </md-card>
  </form>

  <span fxFlex="25px"></span>

  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="selectedUser">
    <div fxLayout="column" fxFlex="70">
      <md-toolbar color="primary">
        <span>{{selectedUser.utln}}</span>
      </md-toolbar>
      <md-card fxFlex>
        <md-card-content>
          <div fxLayout="row">
            <div fxLayout="column" fxFlex fxLayoutAlign="center center">
              <span>Photo goes here</span>
            </div>
            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="center center">
                <md-input-container style="max-width: 100px">
                  <input mdInput placeholder="First name"
                         name="first_name" required [(ngModel)]="selectedUser.first_name">
                </md-input-container>
                <span fxFlex="25px"></span>
                <md-input-container style="max-width: 100px">
                  <input mdInput placeholder="Middle initial"
                         name="middle_initial" required [(ngModel)]="selectedUser.middle_initial">
                </md-input-container>
                <span fxFlex="25px"></span>
                <md-input-container style="max-width: 100px">
                  <input mdInput placeholder="Last name"
                         name="last_name" required [(ngModel)]="selectedUser.last_name">
                </md-input-container>
              </div>

              <span fxFlex="15px"></span>

              <div fxLayout="row" fxLayoutAlign="center center">
                <md-input-container style="max-width: 162px">
                  <input mdInput placeholder="Date of birth"
                         name="birth_date" required [(ngModel)]="selectedUser.birth_date">
                </md-input-container>
                <span fxFlex="25px"></span>
                <md-input-container style="max-width: 162px">
                  <input mdInput placeholder="Year of graduation"
                         name="class_year" required [(ngModel)]="selectedUser.class_year">
                </md-input-container>
              </div>
              <span fxFlex="25px"></span>
              <div fxLayout="row" fxLayoutAlign="center center">
                <md-select placeholder="School"
                           name="school" style="min-width: 162px" required [(ngModel)]="selectedUser.school">
                  <md-option *ngFor="let school of schools" [value]="school">
                    {{school}}
                  </md-option>
                </md-select>
                <span fxFlex="25px"></span>
                <md-select placeholder="Type"
                           name="student_type" style="min-width: 162px" required [(ngModel)]="selectedUser.student_type">
                  <md-option *ngFor="let type of types" [value]="type">
                    {{type}}
                  </md-option>
                </md-select>
              </div>
            </div>
          </div>

          <div fxLayout="row">
            <div fxLayout="column">
              <span fxFlex="15px"></span>
            </div>
          </div>

          <h3>Areas</h3>

          <md-grid-list cols="5" rowHeight='4:3'>
            <md-grid-tile *ngFor="let resource of resources | async"
                          class="building-card"
                          [style.background]="'lightblue'">
              <md-grid-tile-footer>
                <button md-button (click)="chooseResource(resource)">{{resource.resource_name}}</button>
              </md-grid-tile-footer>
            </md-grid-tile>
          </md-grid-list>

        </md-card-content>

        <md-card-actions fxLayoutAlign="end center">
          <button md-raised-button color="primary">ADD ACCESS</button>
          <span fxFlex></span>
          <button md-raised-button color="primary" (click)="editUser()">SAVE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
