<md-input-container floatPlaceholder="never">
  <input mdInput placeholder="Domain" [mdAutocomplete]="domainAuto" [formControl]="domainControl">
</md-input-container>

<md-autocomplete #domainAuto="mdAutocomplete" [displayWith]="domainName">
  <md-option *ngFor="let domain of flDomains | async" [value]="domain">
    <span>{{ domain.domain_name }}</span>
  </md-option>
</md-autocomplete>

<app-domain-list *ngIf="selectedDomain && selectedDomain.domain_children.length !== 0"
                 [domains]="selectedDomain.domain_children" (addRequest)="submit($event)" [showReason]="showReason">
</app-domain-list>

<app-resource-list *ngIf="selectedDomain && selectedDomain.resource_children.length !== 0" [showReason]="showReason"
                   [resources]="selectedDomain.resource_children" (submitRequest)="submit($event)">
</app-resource-list>
