<div class="id-card-wrapper" fxLayoutAlign="center center" fxFlex fxLayout="column">
  <md-card *ngIf="user">
    <div class="id-card-wrapper" fxLayoutAlign="center center" fxFlex fxLayout="column">
<div class="outer">
        <div class="id-container">
                <div class="left-img">
                        <img src="assets/edge.jpg" class="left-img" />
                </div>
                <div class="top-half">
                        <div class="picture-box">
                                        <img class="id-picture" src="assets/harrison.jpg" />
                        </div>
                        <div class="logo-box">
                                <img class="logo" src="assets/logo.jpg" />
                        </div>
                        <div class="school-info">
                                <span class="school-info bold">School of Arts and Sciences</span>
                                <span class="school-info bold">School of Engineering</span>
                                <span class="school-info">{{user.student_type}} Student</span>
                        </div> 
                </div>
                <div class="name-strip">
                        <div class="name-strip-text">
                                <span class="student-name">{{user.last_name}}, {{user.first_name}} {{user.middle_inital}}.</span>
                        </div>
                </div>

                <div class="bottom-half">
                        <div class="bottom-info">
                                <div class="bottom-info-left">
                                        <span class="bottom-text">JumboCash: {{user.jumbocash_id}}</span>
                                        <span class="bottom-text">Tufts ID: {{user.id}}</span>
                                </div>
                                <div class="bottom-info-right">
                                        <span class="bottom-text">{{user.birth_date}}</span>
                                        <span class="bottom-text">{{user.school}} {{user.class_year}}</span>
                                </div>
                        </div>
                        <div class="barcode-box">
                                <div class="barcode"></div>
                        </div>
                </div>
        </div>
</div>

</div>

    <md-card-actions>
      <button md-button (click)="requestChange()">Request Change</button>
      <button md-button (click)="report()">Report Lost/Stolen</button>
    </md-card-actions>
  </md-card>
  <span fxFlex="25px"></span>
  <md-card fxFlex>
    <md-card-header>
      <md-card-title>
        <h3 class="id-card-header">Campus Services Contact Information</h3>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <div fxLayout="row">
        <div fxLayout="column">
          <h4 md-line>Emergency</h4>
          <p md-line>617.627.6911 or x66911</p>
          <span md-line></span>
          <h4 md-line>Emergency Information</h4>
          <p md-line>617.627.4636 or <a href="http://emergency.tufts.edu">emergency.tufts.edu</a></p>
          <span md-line></span>
          <h4 md-line>TUPD Non-Emergency</h4>
          <p md-line>617.627.3030</p>
        </div>
        <span fxFlex="10px"></span>
        <div fxLayout="column">
          <h4 md-line>Health Service</h4>
          <p md-line>617.627.3350</p>
          <span md-line></span>
          <h4 md-line>Student Services</h4>
          <p md-line>617.627.2000</p>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
