<div class="id-card-wrapper" fxLayoutAlign="center center" fxFlex fxLayout="column">
  <md-card>
    <md-card-header>
      <img md-card-avatar src="../favicon.ico">
      <md-card-title>
        <h3 class="id-card-header">{{user.first_name}} {{user.last_name}}</h3>
      </md-card-title>
      <md-card-subtitle>
        {{utln}}
      </md-card-subtitle>
    </md-card-header>
    <md-card-content class="md-padding">
      <div fxLayout="row">
        <p><a href="http://www.jumbocash.net">JumboCash</a>: {{user.jumbocash_id}}</p>
        <span fxFlex></span>
        <p>{{user.birth_date}}</p>
      </div>
      <div fxLayout="row">
        <p>{{user.school}} {{user.class_year}}</p>
        <span fxFlex></span>
        <p>Tufts ID: {{user.id}}</p>
      </div>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="requestChange()">Request Change</button>
      <button md-button (click)="report()">Report Lost/Stolen</button>
    </md-card-actions>
  </md-card>
  <span fxFlex="25px"></span>
  <md-card fxFlex>
    <md-card-header>
      <md-card-title>
        <h3 class="id-card-header">Campus Services Contact Information</h3>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <div fxLayout="row">
        <div fxLayout="column">
          <h4 md-line>Emergency</h4>
          <p md-line>617.627.6911 or x66911</p>
          <span md-line></span>
          <h4 md-line>Emergency Information</h4>
          <p md-line>617.627.4636 or <a href="http://emergency.tufts.edu">emergency.tufts.edu</a></p>
          <span md-line></span>
          <h4 md-line>TUPD Non-Emergency</h4>
          <p md-line>617.627.3030</p>
        </div>
        <span fxFlex="10px"></span>
        <div fxLayout="column">
          <h4 md-line>Health Service</h4>
          <p md-line>617.627.3350</p>
          <span md-line></span>
          <h4 md-line>Student Services</h4>
          <p md-line>617.627.2000</p>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
