<md-grid-list cols="5" rowHeight='4:3'>
  
  <md-grid-tile>
  	<md-grid-tile-footer>Building 1</md-grid-tile-footer>
  </md-grid-tile>
  
  <md-grid-tile>
  	<md-grid-tile-footer>Building 2</md-grid-tile-footer>
  </md-grid-tile>

  <md-grid-tile>
  	<md-grid-tile-footer>Building 3</md-grid-tile-footer>
  </md-grid-tile>

  <md-grid-tile>
  	<md-grid-tile-footer>Building 4</md-grid-tile-footer>
  </md-grid-tile>

  <md-grid-tile>
  	<md-grid-tile-footer>Building 5</md-grid-tile-footer>
  </md-grid-tile>

  <md-grid-tile>
  	<md-grid-tile-footer>Building 6</md-grid-tile-footer>
  </md-grid-tile>

</md-grid-list>
