<div class="card-wrapper" fxLayout="column" fxFlex>
  <div fxLayout="row" fxLayoutAlign="space-around start" fxFill>
    <md-card fxFlex="47.5">
      <md-toolbar color="primary">
        <span color="primary">My Requests</span>
      </md-toolbar>

      <md-card-content>
        <md-nav-list *ngIf="requests" style="max-height: 70vh; overflow-y: auto">
          <h3 md-subheader>Open Requests</h3>
          <div *ngFor="let request of openRequests" (click)="editRequest(request, true)">
            <md-list-item [ngSwitch]="request.status" >
              <md-icon md-list-icon [ngStyle]="{color: '#FFC107'}" *ngSwitchCase="0">watch_later</md-icon>
              <md-icon md-list-icon [ngStyle]="{color: 'blue'}" *ngSwitchCase="2">comment</md-icon>
              <span fxFlex="10px"></span>
              <h4 md-line>Request for:
                <span *ngIf="request.new_card">New Card</span>
                <span *ngIf="!request.new_card">Access</span>
              </h4>
              <p md-line *ngSwitchCase="0">Submitted on: {{getDate(request.modified_at)}}</p>
              <p md-line *ngSwitchCase="2">Modified on: {{getDate(request.modified_at)}}</p>
            </md-list-item>
          </div>
          <h3 md-subheader>Closed Requests</h3>
          <div *ngFor="let request of closedRequests" (click)="editRequest(request, false)">
            <md-list-item [ngSwitch]="request.status">
              <md-icon *ngSwitchCase="1" md-list-icon [ngStyle]="{color: 'green'}">check_circle</md-icon>
              <md-icon *ngSwitchCase="3" md-list-icon [ngStyle]="{color: 'red'}">error</md-icon>
              <span fxFlex="10px"></span>
              <h4 md-line>Request for:
                <span *ngIf="request.new_card">New Card</span>
                <span *ngIf="!request.new_card">Access</span>
              </h4>
              <p md-line>Closed on: {{getDate(request.modified_at)}}</p>
            </md-list-item>
          </div>
        </md-nav-list>
      </md-card-content>
    </md-card>

    <md-card fxFlex="47.5">
      <md-toolbar color="primary">
        <span color="primary">Submit Request</span>
      </md-toolbar>

      <md-card-content fxLayout="column">
        <form fxLayout="column">

          <app-domain-list domains="domains"></app-domain-list>

        </form>
      </md-card-content>

    </md-card>
  </div>
</div>
