<div fxFill class="user-home-wrapper mat-app-background">
  <div class="nav-bar">
    <nav md-tab-nav-bar>

    <span fxLayoutAlign="center center">
      <a routerLink=""
         (click)="activeLinkIndex = 0">
        <img src="../assets/cardcontrol.svg"
             height="42"
             width="150"
             fxLayoutAlign="center center" />
      </a>
    </span>

      <a md-tab-link
         *ngFor="let link of navLinks; let i = index"
         [routerLink]="link.route"
         [active]="activeLinkIndex === i"
         (click)="activeLinkIndex = i">
        {{link.label}}
      </a>
      <a md-tab-link
         *ngIf="isAdmin"
         routerLink="/manage">
        Manage
      </a>
      <a md-tab-link
         href="/api">
        API
      </a>
      <span fxFlex></span>
      <md-menu #appMenu="mdMenu" y-position="below" [overlapTrigger]="false">
        <button md-menu-item (click)="settings()"> Settings </button>
        <button md-menu-item (click)="logOut()"> Log Out </button>
      </md-menu>

      <button md-button [mdMenuTriggerFor]="appMenu">
        {{utln}}
      </button>
    </nav>
  </div>

  <router-outlet></router-outlet>
</div>

