<div class="manager-home-wrapper" fxLayoutAlign="space-around center">
  <md-card (click)="openRequests()" class="manager-home-tile">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center center">
        <h2>3</h2>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        Pending Requests
      </div>
    </div>
  </md-card>
  <md-card (click)="openBuildings()" class="manager-home-tile">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h2>3</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      Buildings
    </div>
  </md-card>
</div>
