<div class="manager-create-id-wrapper" fxLayout="column" fxLayoutAlign="space-around stretch">
  <md-card fxLayout="column" fxLayoutAlign="space-around center">
    <form class="create-id-form">
      <h1>Create New ID</h1>
      <div class="section">
      	<label>Photo: </label><input type="file">
      </div>
      <div class="section">
	      <md-input-container>
	        <input type="text" mdInput placeholder="First Name">
	      </md-input-container>

	      <md-input-container>
	        <input type="text" mdInput placeholder="Last Name">
	      </md-input-container>
	      

	      <md-input-container>
	        <input type="text" mdInput placeholder="Middle Initial">
	      </md-input-container>


	      <md-input-container hintLabel="mm/dd/yyyy">
	        <input type="date" mdInput placeholder="Date of Birth" >
	      </md-input-container>
      </div>
      
    	<md-select placeholder="School"></md-select>
    	<md-select placeholder="Position"></md-select>
    	<md-select placeholder="Gradution Year"></md-select>

      <div class="submit-button">
        <button type='submit' md-button>Submit</button>
      </div>

    </form>
  </md-card>
</div>
