<!--<md-input-container>-->
  <!--<input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">-->
<!--</md-input-container>-->

<!--<md-autocomplete #auto="mdAutocomplete">-->
  <!--<md-option *ngFor="let state of filteredStates | async" [value]="state">-->
    <!--{{ state }}-->
  <!--</md-option>-->
<!--</md-autocomplete>-->


<!--

Structure:

:: AUTOCOMPLETE FOR DOMAIN OUT OF DOMAINS ::
:: AUTOCOMPLETE FOR EITHER RESOURCES OUT OF DOMAIN OR DOMAINS OUT OF DOMAIN ::
  :: AUTOCOMPLETE FOR ACCESS POINTS OUT OF RESOURCE ::

-->


<!--<md-select placeholder="School" [(ngModel)]="domain"-->
           <!--name="domain">-->
  <!--<md-option *ngFor="let domain of domains" [value]="school">-->
  <!--</md-option>-->
<!--</md-select>-->

<!--<app-domain-list *ngIf="domain" [domains]="domain.domains"></app-domain-list>-->

<!--<md-select *ngIf="domain.resources">-->

<!--</md-select>-->

<!--<md-select *ngIf="resource">-->

<!--</md-select>-->
