<div fxFill>
  <nav md-tab-nav-bar>

    <span fxLayoutAlign="center center">
      <a [routerLink]="">
        <img src="../assets/cardcontrol.png"
             height="35"
             width="222"
             fxLayoutAlign="center center" />
      </a>
    </span>

    <a md-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.route"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
    <span fxFlex></span>
    <span fxLayoutAlign="center center">Logged in as: </span>
    <md-menu #appMenu="mdMenu" positionY="20">
      <button md-menu-item> Settings </button>
      <button md-menu-item> Log Out </button>
    </md-menu>

    <button md-button [mdMenuTriggerFor]="appMenu">
      {{utln}}
    </button>
  </nav>

  <div fxFlex="100%" fxLayout="row">
    <div fxLayout="column" fxFlex="75%">
      <p>Hello!</p>
    </div>
    <div fxLayout="column" fxFlex="25%">
      <p>Hello world!</p>
    </div>
  </div>
</div>

