@import "theme";

body, html {
  height: 100%;
}

body {
  margin: 0;
}

.mat-dialog-container {
  padding: 0 !important;
}

.mat-divider[direction="vertical"] {
  border-top-width: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  height: 100%;
}

html, body, button, select, textarea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
